.gradle
*.apk
*.ap_
*.aab
*.so
.idea
*.iml
build
.cxx
*.o
*.obj
**/build/
**/outputs/
**/intermediates/
**/generated/
**/generated-source/
**/generated-r/
**/rs/
**/aidl/
.git
.github
**/*.log
**/*Test*
**/test/
**/androidTest/
local.properties
*.keystore
*.jks
**/captures/
**/captures/
**/.cxx/
**/cmake-build-*
**/CMakeLists.txt.user